<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/style.css" type="text/css" />
    <title>MVC With Horoscopes!!</title>
    <script src="/models.index.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>