<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="../public/assets/style.css">

{{!-- this controls the logout function of the logout button --}}
<form action="/logout?_method=delete" method="POST"><button style="color:white" type="submit"
        id="logoutBtn">Logout</button></form>

<h1 style="font-size: 30px">Horoscope Time!!</h1>
{{!-- <form action="/logout?_method=DELETE" method="POST"> --}}

</form>
<h1 style="font-size: 30px;">What's your sign?!</h1>



<ul>
    {{#each horoscopes}}
    {{#unless daily}}
    {{> horoscopes/horoscope-block daily=true}}
    {{/unless}}
    {{/each}}
</ul>

<ul>
    {{#each horoscopes}}
    {{#unless daily}}
    {{> horoscopes/horoscope-block daily=false}}
    {{/unless}}
    {{/each}}
</ul>

<body>

    <h2 style="font-size: 30px">Enter your Zodiac sign below to receive your daily horoscope:</h2>
    <nav>
        <div style="white" class="nav-wrapper">
            <form>
                <div class="input-field">
                    <input type="TEXT" id="sign" required>
                </div>
            </form>
        </div>
    </nav>
    <button style="color:white" type="submit" id="getHoro">Submit</button>
    <div class="container">
        <p id="dailyHoroscope"></p>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        const sign = $("#sign").val()

        const getDaily = () => {
            const sign = $("#sign").val().trim()
            console.log(sign)
            $.ajax({
                url: "https://sameer-kumar-aztro-v1.p.rapidapi.com/?sign=" + `${sign}` + "&day=today",
                method: "POST",
                dataType: "json",
                headers: {
                    "x-rapidapi-key": "176601b113msh6d27a4156a2d79bp177199jsna0ce92f9cd8c",
                    "x-rapidapi-host": "sameer-kumar-aztro-v1.p.rapidapi.com",
                    "Content-Type": "application/json",
                },
            }).then(function (response) {
                console.log(response);
                $("#dailyHoroscope").text(response.description)
            });
        }

        $("#getHoro").on("click", function () {
            event.preventDefault()
            getDaily()
        })
    </script>

</body>