<a href="/" style="color:white">Daily Horoscope</a>

<h1>
    Astrology Message Board
</h1>

<body>


    <nav>
        <div class="nav-wrapper">
            <form action="/message" method="POST">
                <div class="input-field">
                    <input type="TEXT" id="post-body" name="message" value="" required>

                </div>
                <button type="submit" id="post-submit" style="color:white">Submit</button>
            </form>
        </div>
    </nav>

    <br>
    <br>
    <br>


    <div class="container">
        <ul>
            {{#each hbPosts}}

            <li class="media list-group-item p-a">

                <p style="font-size:30px; color:white">
                    {{body}}
                </p>
                <p style="font-size:20px; color:white">
                    {{User.name}}
                </p>
                <p style="font-size:20px; color:white">
                    {{createdAt}}
                </p>


                {{/each}}

        </ul>
    </div>