<h1>
    HELLO
</h1>

<body>

    <h2 style="font-size: 30px">message</h2>
    <nav>
        <div class="nav-wrapper">
            <form action="/message" method="POST">
                <div class="input-field">
                    <input type="TEXT" id="post-body" required>

                    <i class="material-icons">search</i>
                </div>
            </form>
        </div>
    </nav>
    <button type="submit" id="post-submit">Submit</button>

    {{#each Post}}

    <p>
        {{Post.body}}
    </p>

    {{/each}}


    <script src="/Astrology-P2/public/assets/post.js" type="text/javascript"></script>