<!DOCTYPE html>
<html lang="en">
{{!-- create a js file that makes an ajax call to get the daily NASA space image
save that image as a variable
use handlebars to insert that variable as an image into the html sign-up document background --}}

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="../public/assets/style.css">

</head>

<body>
    <div class="row">
        <center>
            <div class="column-md-6 center card-panel white lighten-2 loginTitle card-title">
                Horoscope Web Application
            </div>
        </center>
    </div>

    <div class="row">
        <div style="padding: 30px 30px 30px;" class="column-md-6 center">
            <div class="card">
                <div class="card-content white-text">
                    <h3 class="card-title" style="color:black;">Login</h3>
                    {{#if error}}
                    <div class="alert error-message">{{message}}</div>
                    {{/if}}
                    <form action="/login" method="POST">
                        <div>
                            <label for="email">Name</label>
                            <input type="email" name="email" id="email" required>
                        </div>
                        <div>
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" required>
                        </div>
                        <button type="submit">Login</button>
                    </form>
                    <a href="/register">Register</a>
                </div>
            </div>
        </div>
        <div class="card-panel white lighten-2 credit">
            <span>Photo credit: NASA</span>
        </div>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript">
            $.ajax({
                url: "https://api.nasa.gov/planetary/apod?api_key=OHbuGSB8c6bk2wTVFA5Kz29Nl2KJelGKXyA2OlXx",
                method: "GET"
            }).then(function (response) {
                console.log(response.url);
                document.body.style.backgroundImage = `url(\'${response.url}\')`;
            })
        </script>
    </div>
</body>

</html>